#contenedor {
    display:flex ;
    justify-content: space-around;
    align-items: stretch;
}
.tarjeta{
    background-color: rgb(241, 194, 40);
    height: 200px;
    width: 100px;
    padding: 10px;
    border: 2.5px solid rgb(248, 144, 47);
}
.tarjeta img{
  width: 100%
}
